---
import BaseLayout from '../layouts/BaseLayout.astro';
import IntroCard from '../components/sections/IntroCard.astro';
import AboutMe from '../components/sections/AboutMe.astro';
import Card from '../components/Card.astro';
import TimeZoneCard from '../components/sections/TimeZoneCard.astro';
import Books from '../components/sections/Books.astro';
import ExperienceCard from '../components/sections/ExperienceCard.astro';
import Projects from '../components/sections/Projects.astro';
import LanguagesCard from '../components/sections/LanguagesCard.astro';
import { PROFILE } from '../content/profileData';
import BlogCard from '../components/sections/BlogCard.astro';
import LanguageSelector from '../components/LanguageSelector.astro';
import { Globe } from '../components/Globe';
const SITE = PROFILE.site;

// Base delay and increment between cards
const baseDelay = 30;
const delayIncrement = 100;
---

<BaseLayout title={SITE.SEO.title} description={SITE.SEO.description}>
  <Globe client:load />

  <div
    slot="loader"
    class="fixed top-0 right-0 bottom-0 left-0 z-50 flex h-screen w-screen items-center justify-center text-3xl font-black uppercase text-neutral-50 loader bg-darkslate-700"
  >
  </div>
  <main
    transition:animate="fade"
    class="relative m-auto grid w-full max-w-6xl gap-2 overflow-hidden p-2 sm:gap-2 sm:p-4 md:grid-cols-2 md:gap-3 md:p-6 lg:grid-cols-12 lg:gap-4"
  >
    <Card
      colSpan="lg:col-span-9 md:col-span-2"
      rowSpan="md:row-span-1 lg:row-span-4"
      animationDelay={baseDelay}
    >
      <IntroCard />
    </Card>

    <!-- Language Selector Card -->
    <Card
      colSpan="lg:col-span-3 md:col-span-1"
      rowSpan="md:row-span-1 lg:row-span-1"
      title="Language"
      animationDelay={baseDelay + delayIncrement}
    >
      <LanguageSelector />
    </Card>

    <Card
      colSpan="lg:col-span-3 md:col-span-1"
      rowSpan="md:row-span-3 lg:row-span-5"
      title="About me"
      animationDelay={baseDelay + delayIncrement * 2}
    >
      <AboutMe />
    </Card>

    <Card
      colSpan="lg:col-span-3 md:col-span-1"
      rowSpan="md:row-span-3 lg:row-span-4"
      title="Projects"
      animationDelay={baseDelay + delayIncrement * 3}
    >
      <Projects />
    </Card>

    <Card
      colSpan="lg:col-span-3 md:col-span-1"
      rowSpan="md:row-span-1 lg:row-span-1"
      title="Your time"
      animationDelay={baseDelay + delayIncrement * 4}
    >
      <TimeZoneCard />
    </Card>
    <Card
      colSpan="lg:col-span-3 md:col-span-1"
      rowSpan="md:row-span-1 lg:row-span-1"
      title=""
      animationDelay={baseDelay + delayIncrement * 5}
    />

    <Card
      colSpan="lg:col-span-3 md:col-span-1"
      rowSpan="md:row-span-1 lg:row-span-1"
      title=""
      animationDelay={baseDelay + delayIncrement * 6}
    />
    <Card
      colSpan="lg:col-span-3 md:col-span-1"
      rowSpan="md:row-span-1 lg:row-span-1"
      title="My time"
      animationDelay={baseDelay + delayIncrement * 7}
    >
      <TimeZoneCard timezone={PROFILE.timezone} />
    </Card>

    <Card
      colSpan="lg:col-span-4 md:col-span-1"
      rowSpan="md:row-span-1 lg:row-span-2"
      animationDelay={baseDelay + delayIncrement * 8}
    >
      <div class="flex h-full flex-col justify-between">
        <blockquote class="mt-6 border-l-2 pl-6 italic">
          “{PROFILE.words[0]}”
        </blockquote>
        <p class="mt-2 text-xs"></p>
      </div>
    </Card>
    <Card
      colSpan="md:col-span-1 lg:col-span-5"
      rowSpan="md:row-span-2 lg:row-span-2"
      title="Wait... Can I survive outside?"
      animationDelay={baseDelay + delayIncrement * 9}
    >
      <LanguagesCard />
    </Card>

    <Card
      colSpan="md:col-span-1 lg:col-span-3"
      rowSpan="md:row-span-2 lg:row-span-2"
      title="Experiences"
      animationDelay={baseDelay + delayIncrement * 10}
    >
      <ExperienceCard />
    </Card>

    <Card
      colSpan="md:col-span-1 lg:col-span-6"
      rowSpan="md:row-span-1 lg:row-span-1"
      title="Blog Posts"
      animationDelay={baseDelay + delayIncrement * 11}
    >
      <BlogCard />
    </Card>
    <Card
      colSpan="md:col-span-1 lg:col-span-3"
      rowSpan="md:row-span-2 lg:row-span-2"
      title="Books I read"
      animationDelay={baseDelay + delayIncrement * 12}
    >
      <Books />
    </Card>
    <Card
      colSpan="md:col-span-1 lg:col-span-6"
      rowSpan="md:row-span-2 lg:row-span-1"
      title="Contact"
      animationDelay={baseDelay + delayIncrement * 13}
    >
      <div
        class="flex h-full w-full items-center justify-center text-center text-sm"
      >
        <i>
          Please feel free to reach out to me through <a
            href={PROFILE.links.linkedin}
            class="hover:underline">LinkedIn</a
          >
        </i>
      </div>
    </Card>
  </main>
</BaseLayout>
