---
import '@/styles/globals.css';

interface Props {
  title?: string;
  description?: string;
  ogImage?: URL;
  canonicalURL?: URL;
}

const { title, description, ogImage } = Astro.props;

// Check if canonicalURL is valid before creating a URL object
const canonicalURLString =
  Astro.props.canonicalURL || Astro.site || 'https://yourdomain.com';

let canonicalURL: URL;

try {
  canonicalURL = new URL(canonicalURLString);
} catch (error) {
  // Fallback to a default URL if the provided one is invalid
  canonicalURL = new URL('https://yourdomain.com');
}

// Similarly, handle ogImage safely
const ogImageURL = Astro.props.ogImage
  ? typeof Astro.props.ogImage === 'string'
    ? Astro.props.ogImage
    : Astro.props.ogImage.href
  : '/og-image.png';

// Make sure the ogImageURL is absolute
const fullOgImageURL = ogImageURL.startsWith('http')
  ? ogImageURL
  : new URL(ogImageURL, canonicalURL).toString();
---

<meta charset="utf-8" />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="canonical" href={canonicalURL} />
<link
  rel="shortcut icon"
  type="image/svg+xml"
  href={`${Astro.site}favicon.ico`}
/>
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={fullOgImageURL} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={fullOgImageURL} />

<link
  rel="preload"
  href="shttps://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript
  ><link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
  /></noscript
>
